<!DOCTYPE html>
<html lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/htmlHead :: head"></th:block> /*/-->
    
    <title>Products</title>
</head>
<body>
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

    <!-- Bootstrap-->
    <div class="container">
        <!-- Content row with 2 columns-->
        <div class="row">
            <!-- Column 1 - Categories List -->
            <div class="col-sm-3">
                <ul class="list-group" th:if="${not #lists.isEmpty(categories)}">
                    <li class="list-group-item"><a href="/products/?cat=0">All</a></li>
                    <!-- Repeating <li> - for each category -->
                    <li class="list-group-item" th:each="category : ${categories}">
                        <a href="#" th:href="@{'/products/?cat=' + ${category.CategoryId}}" th:text="${category.CategoryName}"></a>
                    </li>
                </ul>
            </div> <!-- End Categories col-->


            <!-- Column 2 - Product List -->
            <div class="col-sm-9">
                <h3>Products</h3>
                <!-- https://www.w3schools.com/bootstrap4/bootstrap_buttons.asp -->
                <p>
                    <a href="/newProduct" th:href="@{/newProduct}" class="btn btn-outline-primary" role="button">Add Product</a>
                </p>
                <!-- Add table if the products list contains products-->
                <!-- Bootstrap: https://getbootstrap.com/docs/4.0/content/tables/-->
                <table class="table table-bordered table-striped" th:if="${not #lists.isEmpty(products)}">
                    <!-- Table header row -->
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Stock</th>
                        <th>Price</th>
                    </tr>
                    <!-- Inser a row for each product in the list -->
                    <tr th:each="product : ${products}">
                        <td th:text="${product.ProductId}"></td>
                        <td th:text="${product.ProductName}">Product Name</td>
                        <td th:text="${product.ProductDescription}">description</td>
                        <td th:text="${product.ProductStock}">stock</td>
                        <!-- Format the number with two decimal places -->
                        <td class="text-right" th:text="${'€ ' + #numbers.formatDecimal(product.ProductPrice, 0, 2)}">price</td>
                    </tr>
                </table> <!-- End table -->
                <p>
                    <a href="/newProduct" th:href="@{/newProduct}" class="btn btn-outline-primary" role="button">Add Product</a>
                </p>
            </div> <!-- End Products col -->
        </div> <!-- End row -->
    </div> <!-- End container -->

    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>